# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Outputs & temporary files
output/*
test_output/
*.csv
!tests/fixtures/*.csv
*.dta
*.parquet
*.xlsx
# LaTeX build artifacts
*.aux
*.log
*.fls
*.fdb_latexmk
*.out
*.toc
*.xdv
*.synctex.gz
.DS_Store
